{% if posts %}
	{% if is_ajax_loading %}
	<div id="postsContainer" data-max-page="{{max_page}}">
	{% endif %}
		{% for post in posts %}
			<div class="post-preview">
				<a href="{{base_url}}{{post.slug}}">
					<h2 class="post-title">{{post.title}}</h2>
					<h3 class="post-subtitle">{{post.description}}</h3>
				</a>
				<p class="post-meta">
					Posted {% if category_name is null %}in <a href="{{base_url}}categories/posts/{{post.cat_id}}" title="All posts in {{post.post_category}}">{{post.post_category}}</a>,{% endif %} on {{post.created_at | date("M d, Y")}}
        </p>
			</div>
      {% if not is_ajax_loading %}
			  {% if not loop.last %}<hr>{% endif %}
      {% else %}
        <hr>
      {% endif %}	
		{% endfor %}

	{% if is_ajax_loading %}
    <span id="lighthouse"></span>
	</div>
	{% endif %}	
{% else %}
	{% if posts_author is not defined and expression is not defined %}
		<p class="mt-0 text-muted text-center">There are no posts {% if category_name is defined %} in this category {% endif %} yet.</p>
	{% endif %}
{% endif %}	

{% if is_ajax_loading %}
	<div class="loader"><span></span></div>
{% endif %}
