<div class="wrapper style1">
	{% for post in posts %}
		{% if loop.first %}
			<div class="image fit flush">
				<a href="{{base_url}}{{post.slug}}">
					<img src="{{base_url}}/assets/img/posts/{{post.post_image}}" alt="{{post.title}}" />
				</a>
			</div>
			<header class="special">
				<h2>{{post.title}}</h2>
				<p>{{post.description}}</p>
			</header>
			<div class="content">{{post.content|raw}}</div>
		{% else %}
			<div class="spotlight {% if (loop.index is even) %}alt{% endif %}">
				<div class="image flush">
					<a href="{{base_url}}{{post.slug}}">
						<img src="{{base_url}}/assets/img/posts/{{post.post_image}}" alt="{{post.title}}" />
					</a>
				</div>
				<div class="inner">
					<h3>{{post.title}}</h3>
					<p>{{post.description}}</p>
					<div class="{% if (loop.index is even) %}text-right{% else %}text-left{% endif %}">
						<a href="{{base_url}}{{post.slug}}" class="button special small">Read More</a>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class="pagination-container">{{ pagination|raw }}</div>




