<!DOCTYPE html>
<html>
	<head>
		<title>{{site_title}} | {{tagline}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{maincss}}">
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="logo"><a href="/">{{site_title}}</a></div>
		</header>

		<section id="main">
			<div class="inner">
				{% if singlePost is defined %}
					{{include(singlePost)}}
				{% elseif pageTemplate is defined  %}
					{{include(pageTemplate)}}
				{% elseif notFound is defined  %}
					{{include(notFound)}}
				{% else %}
					{{ include('themes/caminar/templates/posts.twig') }}				
				{% endif %}
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="{{twitter}}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="{{facebook}}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="{{instagram}}" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="mailto:{{company_email}}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>

				{% if pages %}
					<ul class="icons">
						{% for page in pages %}
							<li><a href="{{base_url}}/pages/page/{{page.id}}">{{page.title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="copyright">
				&copy; {{company_name}}. All rights reserved. Design by <a href="https://templated.co" target="_blank">TEMPLATED</a>
			</div>
		</footer>

		<script src="{{base_url}}/themes/caminar/assets/js/jquery.min.js"></script>
		<script src="{{base_url}}/themes/caminar/assets/js/jquery.validate.min.js"></script>
		<script src="{{base_url}}/themes/caminar/assets/js/main.js"></script>
	</body>
</html>