<!DOCTYPE html>
<html>
	<head>
		<title>{{site_title}} | {{tagline}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{base_url}}themes/{{theme_directory}}/assets/css/main.css">
		{% if is_cookieconsent == true %}
			<link rel="stylesheet" href="{{base_url}}/assets/css/cookies.css">
			<script src="{{base_url}}assets/lib/cookieconsent/js/cookieconsent.min.js "></script>
		{% endif %}
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="logo"><a href="{{base_url}}">{{site_title}}</a></div>
		</header>

		<section id="main">
			<div class="inner">
				{% if singlePost is defined %}
					{{include(singlePost)}}
				{% elseif pageTemplate is defined  %}
					{{include(pageTemplate)}}
				{% elseif contactForm is defined  %}
    			{{include(contactForm)}}
				{% elseif notFound is defined  %}
					{{include(notFound)}}
				{% else %}
					{{ include('themes/' ~ theme_directory ~ '/templates/posts.twig') }}				
				{% endif %}
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="{{twitter}}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="{{facebook}}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="{{instagram}}" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="mailto:{{company_email}}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>

				{% if pages %}
					<ul class="footer-links">
						{% for page in pages %}
							<li><a href="{{base_url}}/pages/page/{{page.id}}">{{page.title}}</a></li>
						{% endfor %}
						<li><a class="nav-link" href="{{base_url}}contact">Contact</a></li>
					</ul>
				{% endif %}
			</div>
			<div class="copyright">
				&copy; {{company_name}}. All rights reserved. Design by <a href="https://templated.co" target="_blank">TEMPLATED</a>
			</div>
		</footer>

		<script src="{{base_url}}/assets/js/jquery.min.js"></script>
		<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
		<script src="{{base_url}}/assets/js/ajaxform.js"></script>
		{% if is_cookieconsent == true %} 
    <script>
        window.cookieconsent.initialise({
        container: document.getElementById("cookieconsent"),
        palette:{
        popup: {background: "#0068BB"},
        button: {background: "#fff"},
        },
        revokable: true,
        onStatusChange: function(status) {
        console.log(this.hasConsented() ?
          'enable cookies' : 'disable cookies');
        },
        "position": "bottom-left",
        "theme": "classic",
        "secure": true,
        "content": {
          "header": 'Cookies used on the website!',
          "message": 'This website uses cookies to improve your experience.',
          "dismiss": 'Got it!',
          "allow": 'Allow cookies',
          "deny": 'Decline',
          "link": 'Learn more',
          "close": '&#x274c;',
          "policy": 'Cookie Policy',
          "target": '_blank',
          }
      });
    </script>
  {% endif %}
	</body>
</html>