<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{site_title}} | {{tagline}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{base_url}}themes/{{theme_directory}}/vendor/css/vendor.css">
    <link rel="stylesheet" href="{{base_url}}themes/{{theme_directory}}/assets/css/styles.css">

    <!-- script
    ================================================== -->
		{% if is_cookieconsent == true %}
			<link rel="stylesheet" href="{{base_url}}/assets/css/cookies.css">
			<script src="{{base_url}}assets/lib/cookieconsent/js/cookieconsent.min.js "></script>
		{% endif %}
    <script src="{{base_url}}themes/{{theme_directory}}/assets/js/modernizr.js"></script>
    <script defer src="{{base_url}}themes/{{theme_directory}}/assets/js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"  href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"  href="icons/favicon-16x16.png">
    <link rel="manifest" href="{{base_url}}themes/{{theme_directory}}/site.webmanifest">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader"> 
    	<div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->

    <header class="s-header {% if featuredPosts is not defined %}s-header--opaque{% endif %}">

        <div class="s-header__logo">
            <a class="logo" href="{{base_url}}">
                <img src="{{base_url}}themes/{{theme_directory}}/assets/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <div class="row s-header__navigation">

            <nav class="s-header__nav-wrap">

                <h3 class="s-header__nav-heading h6">Navigate to</h3>

                <ul class="s-header__nav">
                    <li><a href="{{base_url}}" title="Home">Home</a></li>
										{% if categories %}
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
														{% for category in categories %}
															<li><a href="{{base_url}}categories/posts/{{category.id}}">{{category.name}}</a></li>
														{% endfor %}
                        </ul>
                    </li>
										{% endif %}

										{% if pages %}
											{% for page in pages %}
												<li>
													<a href="{{base_url}}pages/page/{{page.id}}" title="{{page.title}}">{{page.title}}</a>
												</li>
											{% endfor %}
										{% endif %}
										<li><a href="{{base_url}}contact" title="Contact">Contact</a></li>
                </ul> <!-- end s-header__nav -->

                <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end s-header__nav-wrap -->

        </div> <!-- end s-header__navigation -->

        <a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

        <div class="s-header__search">

            <div class="s-header__search-inner">
                <div class="row wide">
                    <form role="search" id="search_form" method="get" class="s-header__search-form" action="{{base_url}}posts/search">
                        <label>
														 {% if search_errors %}{{search_errors | raw}}{% endif %}
                            <span class="h-screen-reader-text">Search for:</span>
                            <input type="search" class="s-header__search-field" placeholder="Search for..." value="" name="search" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="s-header__search-submit" value="Search"> 
                    </form>
                    <a href="#0" title="Close Search" class="s-header__overlay-close">Close</a>

                </div> <!-- end row -->
            </div> <!-- s-header__search-inner -->

        </div> <!-- end s-header__search wrap -->	

        <a class="s-header__search-trigger" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.982 17.983"><path fill="#010101" d="M12.622 13.611l-.209.163A7.607 7.607 0 017.7 15.399C3.454 15.399 0 11.945 0 7.7 0 3.454 3.454 0 7.7 0c4.245 0 7.699 3.454 7.699 7.7a7.613 7.613 0 01-1.626 4.714l-.163.209 4.372 4.371-.989.989-4.371-4.372zM7.7 1.399a6.307 6.307 0 00-6.3 6.3A6.307 6.307 0 007.7 14c3.473 0 6.3-2.827 6.3-6.3a6.308 6.308 0 00-6.3-6.301z"/></svg>
        </a>

    </header> <!-- end s-header -->

		{% if singlePost is defined %}
    	{{include(singlePost)}}
		{% elseif pageTemplate is defined  %}
			{{include(pageTemplate)}}
		{% elseif contactForm is defined  %}
			{{include(contactForm)}}
		{% elseif notFound is defined  %}
			{{include(notFound)}}
		{% else %}
			{{ include('themes/' ~ theme_directory ~ '/templates/posts.twig') }}				
		{% endif %}


    <footer class="s-footer">
        <div class="s-footer__main">
            <div class="row">
                <div class="column large-3 medium-6 tab-12 s-footer__info">
                    <h5>About Our Site</h5>
                    <p>This is a an open-source online newspaper application made by <a href="https://www.linkedin.com/in/razvan-zamfir-31317723/" target="_blank">Razvan Zamfir</a>.</p>
										<p>Design by <a href="https://www.styleshout.com/" target="_blank">StyleShout</a>.</p>
								</div> <!-- end s-footer__info -->

                <div class="column large-2 medium-3 tab-6 s-footer__site-links">
                    <h5>Site Links</h5>
										{% if pages %}
										 	<ul>
												{% for page in pages %}
													<li><a href="{{base_url}}pages/page/{{page.id}}" title="{{page.title}}">{{page.title}}</a></li>
												{% endfor %}
												<li><a href="{{base_url}}contact" title="Contact">Contact</a></li>
                    	</ul>											
										{% endif %}
                </div> <!-- end s-footer__site-links -->  

                <div class="column large-2 medium-3 tab-6 s-footer__social-links">
                    <h5>Follow Us</h5>
                    <ul>
												<li><a href="{{twitter}}" target="_blank">Twitter</a></li>
												<li><a href="{{facebook}}" target="_blank">Facebook</a></li>
												<li><a href="{{instagram}}" target="_blank">Instagram</a></li>
                    </ul>
                </div><!-- end s-footer__social links --> 

									{% if is_newsletter == true %} 
										{{ include('themes/' ~ theme_directory ~ '/partials/newsletter.twig') }}
									{% endif %}                
            </div><!-- end row -->
        </div><!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="column">
                    <div class="ss-copyright">
                        <span>© Copyright Calvin 2020</span> 
                        <span>Design by <a href="https://www.styleshout.com/" target="_blank">StyleShout</a></span>
                    </div> <!-- end ss-copyright -->
                </div>
            </div> 

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5 1.5l.354-.354L7.5.793l-.354.353.354.354zm-.354.354l4 4 .708-.708-4-4-.708.708zm0-.708l-4 4 .708.708 4-4-.708-.708zM7 1.5V14h1V1.5H7z" fill="currentColor"></path></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

   </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="{{base_url}}themes/{{theme_directory}}/assets/js/jquery-3.5.0.min.js"></script>
    <script src="{{base_url}}themes/{{theme_directory}}/assets/js/plugins.js"></script>
    <script src="{{base_url}}themes/{{theme_directory}}/assets/js/main.js"></script>
		<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
		<script src="{{base_url}}/assets/js/ajaxform.js"></script>
		{% if is_newsletter == true %} 
			<script src="{{base_url}}/assets/js/newsletter.js"></script>
		{% endif %}

		{% if is_cookieconsent == true %} 
    <script>
        window.cookieconsent.initialise({
        container: document.getElementById("cookieconsent"),
        palette:{
        popup: {background: "#323232"},
        button: {background: "#41B883"},
        },
        revokable: true,
        onStatusChange: function(status) {
        console.log(this.hasConsented() ?
          'enable cookies' : 'disable cookies');
        },
        "position": "bottom-left",
        "theme": "classic",
        "secure": true,
        "content": {
          "header": 'Cookies used on the website!',
          "message": 'This website uses cookies to improve your experience.',
          "dismiss": 'Accept cookies!',
          "allow": 'Allow cookies',
          "deny": 'Decline',
          "link": 'Learn more',
          "close": '&#x274c;',
          "policy": 'Cookie Policy',
          "target": '_blank',
          }
      });
    </script>
  	{% endif %}
</body>
</html>