<div class="container">
		{% if errors %}
			<div class="alert alert-danger">{{errors | raw}}</div>
		{% endif %}

		{% if message_success == true %}
			<div class="alert alert-success alert-dismissible text-center">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				Your message was sent. We will reply as soon as possible.
			</div>
		{% endif %}

		{% if message_fail == true %}
			<div class="alert alert-danger alert-dismissible text-center">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				Sorry, we could not deliver your message
			</div>
		{% endif %}

		<div id="msgContainer" class="alert alert-hidden alert-success text-center mb-4"></div>

		<form name="contactForm" id="ajaxForm"
				action="{{base_url}}contact"
					method="post"
						data-successmsg="Your message was sent. We will reply as soon as possible." 
							data-failmsg="Sorry, we could not deliver your message"
								novalidate>		
								<div class="control-group mb-3">
									<div class="form-group pb-0">
										<input type="text" class="form-control px-1" placeholder="Name" name="name" id="name" data-rule-required="true" value="{{set_value('name') | striptags}}">
									</div>
								</div>
								<div class="control-group mb-3">
									<div class="form-group pb-0">
										<input type="email" class="form-control px-1" placeholder="Email" name="email" id="email" data-rule-required="true" value="{{set_value('email') | striptags}}">
									</div>
								</div>
								<div class="control-group mb-3">
									<div class="form-group pb-0">
										<input type="text" class="form-control px-1" placeholder="Subject" name="subject" id="subject"  data-rule-required="true" value="{{set_value('subject') | striptags}}">
									</div>
								</div>
								<div class="control-group mb-3">
									<div class="form-group pb-0">
										<textarea rows="5" class="form-control px-1" placeholder="Message" name="message" id="message" data-rule-required="true">{{set_value('message') | striptags}}</textarea>
									</div>
								</div>
								<button type="submit" class="btn btn-block btn-primary rounded-0" id="sendMessageButton">Send</button>
	</form>
</div>