<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
				{% if posts %}
					{% for post in posts %}
						<div class="post-preview">
							<a href="{{base_url}}{{post.slug}}">
								<h2 class="post-title">{{post.title}}</h2>
								<h3 class="post-subtitle">{{post.description}}</h3>
							</a>
							<p class="post-meta">Posted in <a href="categories/posts/{{post.cat_id}}" title="All posts in {{post.post_category}}">{{post.post_category}}</a>, on {{post.created_at | date("M d, Y")}}</p>
						</div>
						{% if not loop.last %}<hr>{% endif %}
					{% endfor %}
				{% endif %}
        <!-- Pager -->
        <div class="clearfix">{{ pagination|raw }}</div>
      </div>
    </div>
  </div>
  <hr>