<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{tagline}}">
  <meta name="author" content="">

  <title>{{site_title}} | {{tagline}}</title>
  <link href="{{base_url}}themes/{{theme_directory}}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{base_url}}themes/{{theme_directory}}/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{base_url}}themes/{{theme_directory}}/assets/css/clean-blog.min.css">
  {% if is_cookieconsent == true %}
    <link rel="stylesheet" href="{{base_url}}/assets/css/cookies.css">
    <script src="{{base_url}}assets/lib/cookieconsent/js/cookieconsent.min.js"></script>
  {% endif %}
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{base_url}}">{{site_title}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <form method="get" action="{{base_url}}posts/search" id="search_form" class="w-100 pt-1 pb-1 pr-lg-3" accept-charset="utf-8">
				<div id="group-search" class="input-group">
					<input class="form-control" type="text" name="search" placeholder="Search posts..." aria-label="Search">
          {% if search_errors %}{{search_errors | raw}}{% endif %}
					<div class="input-group-append">
						<button class="btn btn-sm btn-light" type="submit"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{base_url}}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            {% if categories %}
              <div class="dropdown-menu overflow-hidden py-0">
                {% for category in categories %}
                  <a class="dropdown-item text-secondary" href="{{base_url}}categories/posts/{{category.id}}">{{category.name}}</a>
                {% endfor %}
              </div>
            {% endif %}
          </li>
          {% if pages %}
            {% for page in pages %}
              <li class="nav-item">
                <a class="nav-link" href="{{base_url}}pages/page/{{page.id}}">{{page.title}}</a>
              </li>
            {% endfor %}
				  {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{base_url}}contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% if singlePost is defined %}{{base_url}}assets/img/posts/{{post.post_image}}{% else %}{{base_url}}themes/{{theme_directory}}/assets/img/home-bg.jpg{% endif %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            {% if singlePost is defined %}
              <h1>{{post.title}}</h1>
              <span class="subheading">{{post.decription}}</span>
            {% elseif pageTemplate is defined %}
              <h1>{{page.title}}</h1>
            {% elseif contactForm is defined  %}
              <h1>{{tagline}}</h1>
            {% elseif notFound is defined %}
              <h1>404</h1>
              <span class="subheading">{{tagline}}</span>
            {% elseif category_name is defined  %}
              <h2 class="display-4 font-weight-bold">Posts in <span class="quote-inline">{{category_name}}</span></h2>
            {% else %}
              <h1>{{site_title}}</h1>
              <span class="subheading">{{tagline}}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if singlePost is defined %}
    {{include(singlePost)}}
  {% elseif pageTemplate is defined  %}
    {{include(pageTemplate)}}
  {% elseif contactForm is defined  %}
    {{include(contactForm)}}
  {% elseif notFound is defined  %}
    {{include(notFound)}}
  {% else %}
    {{ include('themes/' ~ theme_directory ~ '/templates/posts.twig') }}				
  {% endif %}

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="{{twitter}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{facebook}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{instagram}}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; {{company_name}} 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{base_url}}/assets/js/jquery.min.js"></script>
  <script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
	<script src="{{base_url}}/assets/js/ajaxform.js"></script>
  <!-- Theme-specific scripts -->
  <script src="{{base_url}}themes/{{theme_directory}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{base_url}}themes/{{theme_directory}}/assets/js/clean-blog.min.js"></script>
  {% if is_cookieconsent == true %} 
  <script>
      window.cookieconsent.initialise({
      container: document.getElementById("cookieconsent"),
      palette:{
      popup: {background: "#323232"},
      button: {background: "#41B883"},
      },
      revokable: true,
      onStatusChange: function(status) {
      console.log(this.hasConsented() ?
        'enable cookies' : 'disable cookies');
      },
      "position": "bottom-left",
      "theme": "classic",
      "secure": true,
      "content": {
        "header": 'Cookies used on the website!',
        "message": 'This website uses cookies to improve your experience.',
        "dismiss": 'Accept cookies!',
        "allow": 'Allow cookies',
        "deny": 'Decline',
        "link": 'Learn more',
        "close": '&#x274c;',
        "policy": 'Cookie Policy',
        "target": '_blank',
        }
    });
  </script>
  {% endif %}
</body>

</html>
